# General
*.lock
*.cache
*.idlk
*.TMP

#IDE files
.vs

# VS project
NiceMeter/bin
NiceMeter/obj
NiceMeterTests/bin
NiceMeterTests/obj
packages/

# Paket for Visual Studio
paket-files/
Paket.Restore.targets
Paket.targets
