source https://api.nuget.org/v3/index.json

nuget Bogus 33.0.2
nuget Codecov 1.13.0
nuget log4net 2.0.8
nuget Moq 4.16.1
nuget MSTest.TestAdapter 2.2.3
nuget OpenCover 4.7.1189
nuget OpenHardwareMonitor 0.9.6
nuget VS.QualityTools.UnitTestFramework 15.0.27323.2