<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NiceMeter.Properties.NiceMeter" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NiceMeter.Properties.NiceMeter>
            <setting name="MainboardEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CpuEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GpuEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RamEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HddEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FanControllerEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CpuTotal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CpuPackage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CpuClock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CpuTemp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainboardCpuVCore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainboardCpuSoc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainboardDRam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainboardVrm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainboardTSensor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainboardCpuFan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainboardWPump" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GpuCore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GpuMemory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GpuShader" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GpuCoreLoad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GpuTemp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GpuMemoryTotal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GpuMemoryUsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GpuMemoryFree" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GpuMemoryLoad" serializeAs="String">
                <value>True</value>
            </setting>
        </NiceMeter.Properties.NiceMeter>
    </applicationSettings>
</configuration>