<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NiceMeter.Properties.NiceMeter" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NiceMeter.Properties.NiceMeter>
            <setting name="MainboardEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CpuEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GpuEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RamEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HddEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FanControllerEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CpuTotal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CpuPackage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CpuClock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CpuTemp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainboardCpuVCore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainboardCpuSoc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainboardDRam" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainboardVrm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainboardTSensor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainboardCpuFan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainboardWPump" serializeAs="String">
                <value>True</value>
            </setting>
        </NiceMeter.Properties.NiceMeter>
    </userSettings>
</configuration>